body{
  margin:0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("C:\Users\intel\Desktop\React\weather app\public\weather.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size:150%;
  
}